/* Wheel SVG */
.cls-1 {
    fill: #ff78ff;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
    stroke: #000;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-6,
.cls-8 {
    stroke-width: 3px;
}

.cls-10 {
    stroke-width: .5px;
}

.cls-10,
.cls-11 {
    stroke: #fff;
}

.cls-11 {
    stroke-width: .5px;
}

.cls-11,
.cls-9 {
    stroke-miterlimit: 4;
}

.cls-2 {
    fill: #00db9a;
}

.cls-12 {
    fill: url(#linear-gradient);
}

.cls-13 {
    fill: #fff;
}

.cls-3 {
    fill: aqua;
}

.cls-4,
.cls-5 {
    fill: #3927ff;
}

.cls-4,
.cls-5,
.cls-7 {
    stroke-miterlimit: 4;
}

.cls-5,
.cls-7 {
    stroke-width: 3px;
}

.cls-6 {
    fill: #0087ff;
}

.cls-7 {
    fill: #00ffc2;
}

.cls-8 {
    fill: #6353ff;
}

.cls-9 {
    fill: #bb74ff;
    stroke-width: 3px;
}

.cls-13:hover {
    fill: #FFFFFF;
}

/* Wheel SVG Hover */
@media only screen and (max-width: 768px) {
    .wp-block-columns:not(.no-gutters) {
        gap: 0px;
    }
}

.mb-0 {
    margin-bottom: 0px;
}

.cheese-content {
    min-height: 239px
}

.cyan-blue {
    color: #00F1FF
}

.segment {
    transition: all 0.3s ease-in-out;
    transform-box: fill-box;
}

.segment:hover {
    stroke: #FFFFFF;
}

/* Update hover and active states for new IDs */
#PSA_Wheel-Services-Estimator:hover,
#PSA_Wheel-Services-Estimator.active {
    transform: translate(10px, -20px);
}

#PSA_Wheel-Services-Automation:hover,
#PSA_Wheel-Services-Automation.active {
    transform: translate(20px, -5px);
}

#PSA_Wheel-Resource-Management:hover,
#PSA_Wheel-Resource-Management.active {
    transform: translate(20px, 16px);
}

#PSA_Wheel-Services-Billing:hover,
#PSA_Wheel-Services-Billing.active {
    transform: translate(1px, 21px);
}

#PSA_Wheel-Services-Revenue-Management:hover,
#PSA_Wheel-Services-Revenue-Management.active {
    transform: translate(-15px, 11px);
}

#PSA_Wheel-Services-Analytics:hover,
#PSA_Wheel-Services-Analytics.active {
    transform: translate(-20px, -4px);
}

#PSA_Wheel-Services-Communities:hover,
#PSA_Wheel-Services-Communities.active {
    transform: translate(-10px, -22px);
}

/* Color classes remain unchanged */
.color-PSA_Wheel-Services-Estimator {
    color: #00DB9A;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Services-Automation {
    color: #00FFFF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Resource-Management {
    color: #6353FF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Services-Billing {
    color: #3927FF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Services-Revenue-Management {
    color: #0087FF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Services-Analytics {
    color: #BB74FF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

.color-PSA_Wheel-Services-Communities {
    color: #FF78FF;
    stroke: #00FFFF;
    stroke-width: 1.5px;
}

/* Button */
.btn {
    background-color: #FFFFFF;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn a {
    text-decoration: none;
}

.btn:hover {
    color: #FFFFFF;
}

.btn a:hover {
    color: #FFFFFF;
}